	<h3>Name: <%= @winery["name"]%> </h3>
	<h3>Region: <%= @winery["region"]%> </h3>
	<p>City: <%=@winery["city"]%> </p>
	<p>Address: <%=@winery["address"]%> </p>
	<p>Phone: <%=@winery["phone_number"]%> </p>
	<p>Tasting fee: <%=@winery["tasting_fee"]%> </p>
	<p>Varietals: <%=@winery["varietal"]%> </p>
	<p>Website: <%=@winery["link"]%> </p>
	<p>Description: <%=@winery["description"]%> </p>
	<p>Hours: <%=@winery["hours"]%> </p>
	<p>Appointment needed: <%=@winery["appt_needed"]%> </p>
	<p>Winery ID: <%=@winery["id"]%> </p>


	<a href="/client/wineries/<%=@winery['id']%>/edit">Edit</a>